@charset "UTF-8";

* {
  text-align: center;
}

#logo {
  height: 150px;
  width: 300px;
  border-radius: 30px;
}

h1 {
  margin-top: 10px;
  padding: 2%;
  border-radius: 50px;
}

#note {
  font-size: 550%;
}

body {
  background-color: whitesmoke;
}

#tuner {
  margin: auto;
  font-family: sans-serif;
  width: 50%;
  height: 50%;
}

#tuneInfo {
  font-size: 120%;
}

.pretune {
  color: black;
}

.outTune {
  color: red;
}

.inTune {
  color: green;
}

.closeTune {
  color: rgb(199, 192, 4);
}
