@charset "UTF-8";

* {
  text-align: center;
}

#logo {
  height: 150px;
  width: 300px;
  border-radius: 30px;
}

h1 {
  margin-top: 10px;
  padding: 2%;
  border-radius: 50px;
}

#note {
  font-size: 600%;
}

body {
  background-color: whitesmoke;
}

#tuner {
  margin: auto;
  font-family: sans-serif;
  width: 50%;
  height: 50%;
}

#tuneInfo {
  font-size: 120%;
}

.pretune {
  color: black;
}

.outTune {
  color: red;
}

.nearTune {
  color: rgb(199, 192, 4);
}

.closeTune {
  color: rgb(21, 93, 187);
}

.inTune {
  color: green;
}

#refNotes {
  border-radius: 4px;
  font-size: 30px;
}

.natural {
  background-color: white;
  color: black;
}

.sharp {
  background-color: black;
  color: white;
}

#btn {
  font-size: 15px;
  padding: 5px;
  background-color: rgb(111, 214, 245);
  border-radius: 8px;
  border: 5px, royalblue;
  transition-duration: 0.5s;
}

#btn:hover {
  background-color: aliceblue;
}

#toTuner {
  font-size: 15px;
  padding: 5px;
  background-color: rgb(111, 214, 245);
  border-radius: 8px;
  border: 5px, royalblue;
  transition-duration: 0.5s;
}

#toTuner:hover {
  background-color: aliceblue;
}

#toMetronome {
  font-size: 15px;
  padding: 5px;
  background-color: rgb(111, 214, 245);
  border-radius: 8px;
  border: 5px, royalblue;
  transition-duration: 0.5s;
}

#toMetronome:hover {
  background-color: aliceblue;
}

#back {
  font-size: 15px;
  padding: 5px;
  background-color: rgb(111, 214, 245);
  border-radius: 8px;
  border: 5px, royalblue;
  transition-duration: 0.5s;
  position: absolute;
}

#back:hover {
  background-color: aliceblue;
}

#homeText {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
